body {
  background: rgb(237, 237, 237);
  color: rgb(49, 49, 49);
}

 /* * {
  border: 2px solid rgb(167, 167, 167);
} */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.a {
  background-color: rgb(167, 167, 167);
  flex-grow: 1;
  border: 2px solid rgb(167, 167, 167);
  box-shadow: 1px 2px rgb(217, 217, 217);
  margin: 15px;
  padding: 1vh 1vh;
}

.b {
  background-color: rgb(167, 167, 167);
  flex-grow:2;
  border: 2px solid rgb(167, 167, 167);
  margin: 15px;
}

.c {
  background-color: rgb(167, 167, 167);
  flex-grow: 1;
  border: 2px solid rgb(167, 167, 167);
  margin: 15px;
}

/* @media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }
  .a, .b, .c {
    margin: 1em;
  }
} */